//spaceing
$contentPadding: 1rem;

//fonts
$headline: "Poppins", sans-serif;
$subheadline: "Raleway", sans-serif;

//colours
$black: #000000;
$white: #ffffff;
$primary: #413939;
$primary-dark: #332d2d;
$secondary: #b02e2e;
$secondary-dark: #9e2929;

//box shadow
$bordershadow: 0 2px 3px 0 rgba(65, 57, 57, 0.5);

$textshadow: 1px 3px 6px black;
